[package]
name = "rpxy"
version = "0.6.0"
authors = ["Jun Kurihara"]
homepage = "https://github.com/junkurihara/rust-rpxy"
repository = "https://github.com/junkurihara/rust-rpxy"
license = "MIT"
readme = "../README.md"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["http3-quinn", "cache"]
http3-quinn = ["rpxy-lib/http3-quinn"]
http3-s2n = ["rpxy-lib/http3-s2n"]
cache = ["rpxy-lib/cache"]

[dependencies]
rpxy-lib = { path = "../rpxy-lib/", default-features = false, features = [
  "sticky-cookie",
] }

anyhow = "1.0.75"
rustc-hash = "1.1.0"
serde = { version = "1.0.188", default-features = false, features = ["derive"] }
derive_builder = "0.12.0"
tokio = { version = "1.32.0", default-features = false, features = [
  "net",
  "rt-multi-thread",
  "time",
  "sync",
  "macros",
] }
async-trait = "0.1.73"
rustls-pemfile = "1.0.3"
mimalloc = { version = "*", default-features = false }

# config
clap = { version = "4.4.2", features = ["std", "cargo", "wrap_help"] }
toml = { version = "0.7.6", default-features = false, features = ["parse"] }
hot_reload = "0.1.4"

# logging
tracing = { version = "0.1.37" }
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }


[dev-dependencies]
