[package]
name = "rpxy-acme"
description = "ACME manager library for `rpxy`"
version.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme.workspace = true
edition.workspace = true
publish.workspace = true

[features]
post-quantum = ["rustls-post-quantum"]

[dependencies]
url = { version = "2.5.4" }
rustc-hash = "2.0.0"
thiserror = "2.0.3"
tracing = "0.1.41"
async-trait = "0.1.83"
base64 = "0.22.1"
aws-lc-rs = { version = "1.11.1", default-features = false, features = [
  "aws-lc-sys",
] }
blocking = "1.6.1"
rustls = { version = "0.23.19", default-features = false, features = [
  "std",
  "aws_lc_rs",
] }
rustls-platform-verifier = { version = "0.4.0" }
rustls-acme = { path = "../submodules/rustls-acme/", default-features = false, features = [
  "aws-lc-rs",
] }
rustls-post-quantum = { version = "0.1.0", optional = true }
tokio = { version = "1.41.1", default-features = false }
tokio-util = { version = "0.7.12", default-features = false }
tokio-stream = { version = "0.1.16", default-features = false }
