version: "3"
services:
  rpxy-rp:
    image: jqtype/rpxy
    container_name: rpxy
    init: true
    restart: unless-stopped
    ports:
      - 127.0.0.1:8080:8080
      - 127.0.0.1:8443:8443
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      platforms: # Choose your platforms
        - "linux/amd64"
        # - "linux/arm64"
    environment:
      - LOG_LEVEL=debug
      - LOG_TO_FILE=true
      - HOST_USER=jun
      - HOST_UID=501
      - HOST_GID=501
      # - WATCH=true
    tty: false
    privileged: true
    volumes:
      - ./log:/rpxy/log
      - ../example-certs/server.crt:/certs/server.crt:ro
      - ../example-certs/server.key:/certs/server.key:ro
      - ../config-example.toml:/etc/rpxy.toml:ro
