[Unit]
Description=rpxy Service
After=network.target

[Service]
ExecStart=/usr/local/bin/rpxy-start.sh
Restart=always
User=rpxy
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
