[package]
name = "rpxy-lib"
description = "Library of `rpxy`: a simple and ultrafast http reverse proxy"
version.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme.workspace = true
edition.workspace = true
publish.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# default = ["http3-s2n", "sticky-cookie", "cache", "rustls-backend", "acme"]
# default = ["http3-quinn", "sticky-cookie", "cache", "rustls-backend", "acme"]
http3-quinn = ["socket2", "quinn", "h3", "h3-quinn", "rpxy-certs/http3"]
http3-s2n = [
  "s2n-quic",
  "s2n-quic-core",
  "s2n-quic-rustls",
  "s2n-quic-h3",
  "rpxy-certs/http3",
  "h3",
]
cache = ["http-cache-semantics", "lru", "sha2", "base64"]
sticky-cookie = ["base64", "sha2", "chrono"]
native-tls-backend = ["hyper-tls"]
rustls-backend = ["hyper-rustls"]
webpki-roots = ["rustls-backend", "hyper-rustls/webpki-tokio"]
acme = ["dep:rpxy-acme"]

[dependencies]
rand = "0.8.5"
rustc-hash = "2.0.0"
bytes = "1.6.1"
derive_builder = "0.20.0"
futures = { version = "0.3.30", features = ["alloc", "async-await"] }
tokio = { version = "1.39.0", default-features = false, features = [
  "net",
  "rt-multi-thread",
  "time",
  "sync",
  "macros",
  "fs",
] }
pin-project-lite = "0.2.14"
async-trait = "0.1.81"

# Error handling
anyhow = "1.0.86"
thiserror = "1.0.63"

# http for both server and client
http = "1.1.0"
http-body-util = "0.1.2"
hyper = { version = "1.4.1", default-features = false }
hyper-util = { version = "0.1.6", features = ["full"] }
futures-util = { version = "0.3.30", default-features = false }
futures-channel = { version = "0.3.30", default-features = false }

# http client for upstream
hyper-tls = { version = "0.6.0", features = [
  "alpn",
  "vendored",
], optional = true }
# TODO: Work around to enable rustls-platform-verifier feature: https://github.com/rustls/hyper-rustls/pull/276
# hyper-rustls = { version = "0.27.2", default-features = false, features = [
hyper-rustls = { git = "https://github.com/junkurihara/hyper-rustls", branch = "main", features = [
  "aws-lc-rs",
  "http1",
  "http2",
  "rustls-platform-verifier",
], optional = true }

# tls and cert management for server
rpxy-certs = { path = "../rpxy-certs/", default-features = false }
hot_reload = "0.1.6"
rustls = { version = "0.23.12", default-features = false }
tokio-rustls = { version = "0.26.0", features = ["early-data"] }

# acme
rpxy-acme = { path = "../rpxy-acme/", default-features = false, optional = true }

# logging
tracing = { version = "0.1.40" }

# http/3
quinn = { version = "0.11.2", optional = true }
h3 = { version = "0.0.6", features = ["tracing"], optional = true }
h3-quinn = { version = "0.0.7", optional = true }
s2n-quic-h3 = { path = "../submodules/s2n-quic-h3/", features = [
  "tracing",
], optional = true }
s2n-quic = { version = "1.43.0", default-features = false, features = [
  "provider-tls-rustls",
], optional = true }
s2n-quic-core = { version = "0.43.0", default-features = false, optional = true }
s2n-quic-rustls = { version = "0.43.0", optional = true }
##########
# for UDP socket wit SO_REUSEADDR when h3 with quinn
socket2 = { version = "0.5.7", features = ["all"], optional = true }

# cache
http-cache-semantics = { path = "../submodules/rusty-http-cache-semantics", default-features = false, optional = true }
lru = { version = "0.12.3", optional = true }
sha2 = { version = "0.10.8", default-features = false, optional = true }

# cookie handling for sticky cookie
chrono = { version = "0.4.38", default-features = false, features = [
  "unstable-locales",
  "alloc",
  "clock",
], optional = true }
base64 = { version = "0.22.1", optional = true }


[dev-dependencies]
tokio-test = "0.4.4"
